@charset "UTF-8";


.parallax {
    /*Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    /*background-image: url("images/green_leaves.jpg");*/
    background-color: rgb(234, 233, 233);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:900px;
    margin:auto;/*center right and left sides*/
    /*background-color:hsl(0, 0%, 83%,.1);*/
    border-radius: 10px;
    padding: 20px;
    background-origin: content-box;
    box-shadow: hsl(0, 0%, 0%, .5) 2px 2px 4px 4px;
    text-align:center;
}

.text {
    text-align: left;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


#header{
    color: #000b0b;
    text-align: center;
}

h2{
    color: #5e281e;
}

div{
    color:rgb(0, 0, 0);
    background-color: rgba(80, 75, 75, 0.325);
}

i{
    color: #011a1a;
}

a{
    color: rgb(0, 0, 0);
    font-family: monospace;
    font: kerning 5px;
}

a:hover{
    color: #ffffff;
    border: none;
    border-radius: 5px;
    /*padding: 5px 10px;
    text-align: center;*/
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    }



.hide{
    display: none;
}

#nav {
    text-align: center;
    font-size: 15px;
    background-color:#031819c7;
    border-radius: 5px;
    box-shadow: hsl(0, 0%, 0%, .5) 2px 2px 4px 4px;
    padding: 20px;
}

img {
    border-radius: 8px;
    box-shadow: hsl(0, 0%, 0%, .5) 2px 2px 4px 4px;
}

#footer {/*only applies to the element with an ID of 'footer'*/
    text-align:center;
    font-size: larger;
    border-radius: 5px;
    padding: 20px;
    background-color:#0318193e;
    }

